<section class="container">
<nav>
  <ul>
    <li class="active"><a href="{{path('crous_backend_homepage')}}" title=" Accueil"> Accueil</a>
    </li>
    <li><a href="{{path('crous_backend_flux_dashboard')}}" title=" Gestion des Flux"> Gestion des Flux</a>
    </li>
    <li><a href="{{path('crous_backend_push_notification')}}" title=" Notifications Push"> Notifications Push</a>
    </li>
    <li><a href="Statistiques.html" title="Statistiques">Statistiques</a>
    </li>
  </ul>
</nav>
<copyright>
<p>&copy;NEOMAD</p>
</copyright>
</section>

