 <section class="container">
        <nav>
          <ul>
            <li class="active"><a href=" Accueil.html" title=" Accueil"> Accueil</a>
            </li>
            <li><a href=" Gestion des Flux.html" title=" Gestion des Flux"> Gestion des Flux</a>
            </li>
            <li><a href=" Notifications Push.html" title=" Notifications Push"> Notifications Push</a>
            </li>
            <li><a href="Statistiques.html" title="Statistiques">Statistiques</a>
            </li>
          </ul>
        </nav>
        <copyright>
          <p>&copy;NEOMAD</p>
        </copyright>
      </section>

